/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  width: 100vw;
  height: 100vh;
}
html {
  font-size: 16px; /* This sets the base font-size (1rem = 16px) */
}

body {
  font-family: "Arial", sans-serif; /* Set your desired font family */
  font-size: 1rem; /* You can change this to control the base text size */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
