.navbar__all__container {
  height: 100%;
  width: 100%;
  position: sticky;
  z-index: 1000;
  top: 0;
  margin-left: -20px;
}
.shop__now__navbar {
  font-size: 15px;
}

.summer__navbar {
  margin-left: 5rem;
  font-size: 15px;
}
.language_navbar {
  margin-left: 100px;
  font-size: 15px;
}

.navbar__header {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 0px;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.navbar__exclusive {
  margin-left: 15rem;
  cursor: pointer;
  font-size: bold;
  font-size: 2.5rem;
}

.navbar__search {
  position: relative;
}

.navbar__search input {
  padding: 10px;
  padding-left: 3rem;
  margin-right: 4rem;
  border: none;
  background-color: #eeecec;
}

.navbar__search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #757474;
}
.navbar__cursor {
  cursor: pointer;
}
