.container__product__details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  padding: 20px;
  align-items: start;
  justify-content: center;
  margin-left: 400px;
}
.heart__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image__product__details__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.other__image__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.stars__product__details {
  display: flex;
}
.image__2__product__details,
.image__3__product__details,
.image__4__product__details {
  width: 100%;
  object-fit: cover;
}

.details__product__details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product__name__Product__details {
  font-weight: bold;
  font-size: 24px;
}
.price__product__details,
.category__details {
  font-weight: bold;
  margin-bottom: 20px;
}
.nombre__of__items__product__details {
  display: flex;
  align-items: center;
  justify-content: start;

  width: 180px;
}
.min__sign__product__details {
  width: 30px;
  height: 30px;
  border: 2px rgb(112, 111, 111) solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plus__sign__product__details {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6700;
}
.nombre__product__details {
  border: 2px rgb(112, 111, 111) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
}
.buy__product__container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
}
.buy__now__product__details {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6700;
  color: white;
  padding: 6px 30px;
  font-weight: bold;
  font-size: 16px;
}
.heart__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.heart__icon__product__details {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px grey solid;
  width: 30px;
  height: 30px;
}
.delivery__product__details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
  margin-top: 20px;
}
.livraison__gratuite {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.retour__livraison {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.related__product__container__details {
  display: flex;
  height: 100%;
  width: 100%;
  /* align-items: center;
  justify-content: start; */
  margin-left: 150px;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.related__product__details {
  height: 50px;
  width: 20px;
  background-color: #ff6700;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title__relation__product__detail {
  font-weight: bold;
  font-size: 20px;
}
.display__products__container__details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: auto;
  height: auto;
  margin-top: 50px;
}
.product__detail__our__products {
  display: flex;
  align-items: center;
}
.average__products {
  display: flex;
  flex: row;
}
