.sidebar__admim {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 10px 15px;
  height: 1200px;
  width: 10%;
  gap: 20px;
  justify-content: start;
  justify-content: start;
  position: fixed;
  top: 0;
}
